<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-data-asset-heading">Create or edit a Data Asset</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!dataAsset.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="dataAsset.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="dataAsset.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_assetFileName">Asset File Name</label>
                    <input type="text" class="form-control" name="assetFileName" id="field_assetFileName"
                        [(ngModel)]="dataAsset.assetFileName" required/>
                    <div [hidden]="!(editForm.controls.assetFileName?.dirty && editForm.controls.assetFileName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.assetFileName?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="dataAsset.type" id="field_type"  required>
                        <option value="CONTROL_REPORTS">CONTROL_REPORTS</option>
                        <option value="EXCEPTION_REPORTS">EXCEPTION_REPORTS</option>
                        <option value="BO_REPORT">BO_REPORT</option>
                        <option value="TABLEAU_REPORT">TABLEAU_REPORT</option>
                        <option value="SYSTEM_FEED">SYSTEM_FEED</option>
                        <option value="ADHOC">ADHOC</option>
                        <option value="SAS">SAS</option>
                        <option value="PYTHON">PYTHON</option>
                        <option value="DO_NOT_KNOW">DO_NOT_KNOW</option>
                    </select>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_frequency">Frequency</label>
                    <select class="form-control" name="frequency" [(ngModel)]="dataAsset.frequency" id="field_frequency"  required>
                        <option value="DAILY">DAILY</option>
                        <option value="WEEKLY">WEEKLY</option>
                        <option value="MONTHEND">MONTHEND</option>
                        <option value="BIWEEKLY">BIWEEKLY</option>
                        <option value="ADHOC">ADHOC</option>
                        <option value="DO_NOT_KNOW">DO_NOT_KNOW</option>
                    </select>
                    <div [hidden]="!(editForm.controls.frequency?.dirty && editForm.controls.frequency?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.frequency?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_storedProcedureName">Stored Procedure Name</label>
                    <input type="text" class="form-control" name="storedProcedureName" id="field_storedProcedureName"
                        [(ngModel)]="dataAsset.storedProcedureName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_queryLogic">Query Logic</label>
                    <textarea class="form-control" name="queryLogic" id="field_queryLogic"
                        [(ngModel)]="dataAsset.queryLogic" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                        [(ngModel)]="dataAsset.remarks" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_edhAssetName">Edh Asset Name</label>
                    <input type="text" class="form-control" name="edhAssetName" id="field_edhAssetName"
                        [(ngModel)]="dataAsset.edhAssetName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_emailDistribution">Email Distribution</label>
                    <input type="text" class="form-control" name="emailDistribution" id="field_emailDistribution"
                        [(ngModel)]="dataAsset.emailDistribution" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_application">Application</label>
                    <select class="form-control" id="field_application" name="application" [(ngModel)]="dataAsset.application" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="applicationOption.id === dataAsset.application?.id ? dataAsset.application : applicationOption" *ngFor="let applicationOption of applications; trackBy: trackApplicationById">{{applicationOption.applicationCode}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_sourceFeed">Source Feed</label>
                    <select class="form-control" id="field_sourceFeed" multiple name="sourceFeed" [(ngModel)]="dataAsset.sourceFeeds">
                        <option [ngValue]="getSelected(dataAsset.sourceFeeds, sourceFeedOption)" *ngFor="let sourceFeedOption of sourcefeeds; trackBy: trackSourceFeedById">{{sourceFeedOption.feedCode}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_sourceDatabase">Source Database</label>
                    <select class="form-control" id="field_sourceDatabase" multiple name="sourceDatabase" [(ngModel)]="dataAsset.sourceDatabases">
                        <option [ngValue]="getSelected(dataAsset.sourceDatabases, sourceDatabaseOption)" *ngFor="let sourceDatabaseOption of sourcedatabases; trackBy: trackSourceDatabaseById">{{sourceDatabaseOption.tableName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
