<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-application-heading">Create or edit a Application</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!application.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="application.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_applicationCode">Application Code</label>
                    <input type="text" class="form-control" name="applicationCode" id="field_applicationCode"
                        [(ngModel)]="application.applicationCode" required minlength="3" maxlength="6"/>
                    <div [hidden]="!(editForm.controls.applicationCode?.dirty && editForm.controls.applicationCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.applicationCode?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.applicationCode?.errors?.minlength">
                        This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.applicationCode?.errors?.maxlength">
                        This field cannot be longer than 6 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_domain">Domain</label>
                    <select class="form-control" name="domain" [(ngModel)]="application.domain" id="field_domain"  required>
                        <option value="POLICY">POLICY</option>
                        <option value="FINANCE">FINANCE</option>
                        <option value="INGENIUM">INGENIUM</option>
                        <option value="INVESTMENT">INVESTMENT</option>
                        <option value="DO_NOT_KNOW">DO_NOT_KNOW</option>
                    </select>
                    <div [hidden]="!(editForm.controls.domain?.dirty && editForm.controls.domain?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.domain?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_projectType">Project Type</label>
                    <select class="form-control" name="projectType" [(ngModel)]="application.projectType" id="field_projectType"  required>
                        <option value="CONVERSION">CONVERSION</option>
                        <option value="NEW">NEW</option>
                        <option value="DO_NOT_KNOW">DO_NOT_KNOW</option>
                    </select>
                    <div [hidden]="!(editForm.controls.projectType?.dirty && editForm.controls.projectType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.projectType?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="application.description" required maxlength="50" pattern="[a-z]+"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength">
                        This field cannot be longer than 50 characters.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.description?.errors?.pattern">
                            This field should follow pattern for "Description".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_owner">Owner</label>
                    <input type="text" class="form-control" name="owner" id="field_owner"
                        [(ngModel)]="application.owner" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
