<div>
    <h2 id="page-heading">
        <span>Source Feeds</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-source-feed" [routerLink]="['/source-feed/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Source Feed
            </span>
        </button>
    </h2>




    <jhi-alert></jhi-alert>
    <br/>

    <div class="table-responsive" *ngIf="sourceFeeds">
        <table class="table table-striped">
            <thead>
            <tr>
            <!--<th><span>ID</span></th>-->
                <th><span>Application</span></th>
            <th><span>Feed Code</span></th>
            <th><span>File Name Pattern</span></th>
            <th><span>Header Count</span></th>
            <th><span>Trailer Count</span></th>
            <th><span>Trailer Record Starts With</span></th>
            <th><span>Feed Frequency</span></th>
            <th><span>Source Database Table</span></th>
                <th><span>SLA</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sourceFeed of sourceFeeds ;trackBy: trackId">
                <!--<td><a [routerLink]="['/source-feed', sourceFeed.id, 'view' ]">{{sourceFeed.id}}</a></td> -->
                <td>
                    <div *ngIf="sourceFeed.application">
                        <a [routerLink]="['../application', sourceFeed.application?.id, 'view' ]" >{{sourceFeed.application?.applicationCode}}</a>
                    </div>
                </td>
                <td>{{sourceFeed.feedCode}}</td>
                <td>{{sourceFeed.fileNamePattern}}</td>
                <td>{{sourceFeed.headerCount}}</td>
                <td>{{sourceFeed.trailerCount}}</td>
                <td>{{sourceFeed.trailerRecordStartsWith}}</td>
                <td>{{sourceFeed.feedFrequency}}</td>

                <td>
                    <div *ngIf="sourceFeed.sourceDatabase">
                        <a [routerLink]="['../source-database', sourceFeed.sourceDatabase?.id, 'view' ]" >{{sourceFeed.sourceDatabase?.tableName}}</a>
                    </div>
                </td>
                <td>{{sourceFeed.sla}}</td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/source-feed', sourceFeed.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/source-feed', sourceFeed.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'source-feed/'+ sourceFeed.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
